
fastapi
pydantic[email,dotenv]
uvicorn[standard]
python-multipart
httpx

# testing related
asgi-lifespan
pytest-asyncio
pytest-cov

# mongodb related
motor

# celery worker related
#celery
#redis
#flower
